body {
  margin-top: 1.0em;
  background-color: #fefeff;
  font-family: Helvetica, Arial, FreeSans, san-serif;
  color: #000;
}

#container {
  margin: 0 auto;
  width: 700px;
}

h1 { font-size: 3.8em; color: #004499; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #004499; }
h3 { text-align: center; color: #004499; }
a { color: #004499; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre.default{
  color: #000;
  white-space: pre;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  background: #000;
  padding: 15px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  background-color: #eee;
}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }

